body{
    background-color: #F3F3DB;
}

.logout {
    margin-top: 200px;
    color: #0D5762;
    font-weight: 700;
}

#regist_button, #login_button{
    background: linear-gradient(180deg, #A8E6CF 0%, rgba(255, 255, 255, 0) 100%), #FFAAA5;
    border-radius: 20px;
    color: #033f29;
    border:#033f29;
}

input[type=text] {
    border: 1px solid #FFAAA5 ;
    border-bottom: 5px solid #FFAAA5;
    border-radius: 10px;
    width: 100%;
    padding: 3px 5px;
    margin: 5px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  input[type=email] {
    border: 1px solid #FFAAA5 ;
    border-bottom: 5px solid #FFAAA5;
    border-radius: 10px;
    width: 100%;
    padding: 3px 5px;
    margin: 5px 0;
    display: inline-block;
    box-sizing: border-box;
  }
  input[type=password] {
    border: 1px solid #FFAAA5 ;
    border-bottom: 5px solid #FFAAA5;
    border-radius: 10px;
    width: 100%;
    padding: 3px 5px;
    margin: 5px 0;
    display: inline-block;
    box-sizing: border-box;
  }

form {
    color: #B7FFC2, 100%;
    font-weight: 200;
}
form label{
    color: #0D5762, 100%;
    font-weight: 700;
}

