{% extends 'base.html' %}{% load static %} 


    {% block meta %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/excite-bike/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <style>
        body{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        h1{
            font-weight: bold;
            text-align:  center;
        }

        .kotakTopik_luar{
            display: flex;
            width:50%;
            margin: auto;
            flex-direction: column ;
            text-align: center;
            
        }
        .kotak_topik{
            font-size: 18px;
            border-radius: 10px;
            font-weight: bold;
            text-decoration: none;
            color:black;
            background-color: #94E2A0;
            margin: 10px 10px;
            height: max-content;
            min-height: 50px;
            padding: 10px 10px;
        }
        .kotak_topik:hover{
            background-color: #77B881;
        }
        .input_box, #pencarian{
            text-align: center;
        }
    </style>
{% endblock meta %}
{% block main %}
    <br>
    <br>
    <br>
    
    <h1>
        TOPIK
    </h1>
    <br>

    <div class="input_box" >
        <input type="text" name="" id="pencarian" placeholder="cari topik disini">
    </div>

    <br>
    <div class="haha">
        {% for t in alltopik %}
        <div class="kotakTopik_luar">
                <a href="/chitchat/forum/{{t.id}}/{{user.username}}" >
                    <div class="kotak_topik">
                        {{t.nama}}
                    </div>
                </a>
        </div>
        {% endfor %}
    </div>

    <script>
        $("#pencarian").keyup(function(){
            var keyword = $("#pencarian").val();
                $.ajax({
                url: 'caritopik?q='+keyword,
                success: function(data){
                    var array_items = data.data;
                    $(".haha").empty();
                    for(i = 0; i < array_items.length; i++){
                        var topik = array_items[i].topik;
                        var id = array_items[i].key;
                        console.log(topik);
                        $(".haha").append("<div class='kotakTopik_luar'><a href='/chitchat/forum/"+id+"/{{user.username}}' ><div class='kotak_topik'>"+ topik +"</div></a></div>");
                        }
                    $(".input_box").val("");
                    }
                });
    
        });
    </script>

    {% endblock main %}