{% extends 'base.html' %}
    {% block meta %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/excite-bike/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <style>
        body{
            background-color:   #f3f3db;
        }
        h1{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bold;
            text-align:  center;
        }
        .kotaknya{
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .kotaknya .pencetan{
            text-align: center;
            background-color:#94E2A0;
            border-radius: 10px;
            border: none;
            padding: 10px 20px;
            height: 35px;
            width: 30%;
            text-decoration: none;
            color: rgb(26, 26, 26);
        }

        .pencetan:hover{
            background-color:#71ca7e;
            color: white;
        }
        
        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            left: 50%;
            transform: translateX(-50%);
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color:rgb(172, 168, 168);
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color:#94E2A0;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px#94E2A0;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    </style>
{% endblock meta %}
{% block main %}
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <h1>
        SELAMAT DATANG DI CHITCHAT
    </h1>
    <br>
    <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
    </label>
    <br>
    <div class="kotaknya">
        {% if user.is_authenticated %}
        <a class="pencetan" href="/chitchat/topik">Lihat Topik</a>
        {% else %}
        <a class="pencetan" href="{% url 'login_app:login' %}">login untuk melihat topik</a>
        {% endif %}
        
    </div>

    <script>
        $(document).ready(function(){
            $('input[type="checkbox"]').click(function(){
                if($(this).prop("checked") == true){
                    console.log("Checkbox is checked.");
                    $("body").css("background-color", "rgb(37, 37, 63)");
                    $("h1").css("color", " #94E2A0");
                }
                else if($(this).prop("checked") == false){
                    console.log("Checkbox is unchecked.");
                    $("body").css("background-color", " #f3f3db");
                    $("h1").css("color", "black");
                    
                }
            });
        });

   
    </script>
{% endblock main %}