/* pink EA98AE
hijau 508D7D
muda F3F3DB */
html {
	scroll-behavior: smooth;
}

body { 
    margin-top:20px;
    font-family: "Montserrat", sans-serif;
    background-color: #F3F3DB;
    color: #444444;
}

.mx-auto {
    width: 60%;
}

h4 {
    font-size: medium;
}

.btn-primary {
    background-color: #508D7D;
    border-color:  #508D7D;
    border-radius: 20px;
    color: #F3F3DB;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #355c51;
    border-color:  #355c51;
}

/* index.html */
.jumbotron {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: none;
}

/* poll.html */
.card-body:not(.two-col) { 
    padding:0px 
}
.card-body .radio,.card-body .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}
.card-body .list-group {
    margin-bottom: 0;
}
.margin-bottom-none { 
    margin-bottom: 0; 
}
.card-body .radio label,.card-body .checkbox label { 
    display:block; 
}
.card .card-header{
    background-color: #508D7D !important;
    color: #F3F3DB !important;
}
.well{
    background-color: #F9FBDD;
    border-radius: 20px;
    font-weight: normal !important;
}
.card-footer{
    background-color: #EA98AE !important;
    color: black !important;
}
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
/* result.html */
.progress-bar{
    background-color: #508D7D;
}
.image-frame .image-caption {
	display: none;
	opacity: 0.8;
	background:#cae5c1;
	width: 290px;
	position: absolute;
	bottom: 0px;
	padding: 5px;
}
