
    body{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    h1{
        font-weight: bold;
        text-align:  center;
    }

    .topikBox_frame{
        /*background-color: red;*/
        display: flex;
        width:50%;
        margin: auto;
        flex-direction: column ;
        text-align: center;
        
    }
    .topik_box{
        font-size: 18px;
        border-radius: 10px;
        font-weight: bold;
        text-decoration: none;
        color:black;
        background-color: #94E2A0;
        margin: 10px 10px;
        height: max-content;
        min-height: 50px;
        padding: 10px 10px;
    }
    .comment_container{
        background-color: #B7FFC2;
        padding: 10px;
        width: 70%;
        height: max-content;
        margin: auto;
        border-radius: 20px;
        border: #77B881 solid 4px;
    }
    .comment_box{
        background-color: #94E2A0;
        text-align: end;
        padding: 0 10px;
        border-radius: 10px;
        margin: 20px 0;
        
    }
    .comment_box h2, .comment_box p{
        margin:0;
        padding: 5px;
        
    }