{% extends 'base.html' %} {% load static %} {% block css %}
        <link rel="stylesheet" href="{% static 'style2.css' %}">
        <title>Quiz Page</title> 
        <!-- FontAweome CDN Link for Icons -->
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>   
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css %} {% block main %}


    <!-- start Quiz button -->
    <div class="start_btn"><button>Start Quiz</button></div>

    <!-- Info Box -->
    <div class="info_box m-3">
        <div class="info-title"><span><img id="atas" src="{% static 'choose.png' %}" class="object-fit-contain" alt="~" width="40px"> Some Rules of this Quiz </span>  <span class="ml-auto" style="color: rgb(87, 97, 238);"> {{ user.username }}</span></div>
        <div class="info-list">
            <div class="info">1. Kamu hanya punya waktu <span>15 detik</span> untuk setiap pertanyaan.</div>
            <div class="info">2. Sekali jawaban telah dipilih, maka tidak dapat memilih ulang.</div>
            <div class="info">3. Jika waktu telah habis, kamu tidak dapat mengerjakan ulang tersebut lagi.</div>
            <div class="info">4. Jika kamu refresh kuis, maka kuis akan terulang.</div>
            <div class="info">5. Setelah semua pertanyaan selesai dijawab, maka akan ditempilkan hasilnya.<img id="atas" src="{% static 'wow.png' %}" class="object-fit-contain" alt="~" width="40px"></div>
        </div>
        <div class="buttons">
            <button class="quit">Exit Quiz</button>
            <button class="restart">Continue</button>
        </div>
    </div>

    <!-- Quiz Box -->
    <div class="quiz_box m-3 mt-4">
        <header>
            <div class="title mt-1"><img id="atas" src="{% static 'choose.png' %}" class="object-fit-contain" alt="~" width="30px"> Mini Quiz About COVID-19 <img id="atas" src="{% static 'virus.png' %}" class="object-fit-contain" alt="~" width="23px"> 
                <span class="mr-auto" style="color: rgb(248, 138, 152);font-size: small;"><br>User: {{ user.username }}</span>
            </div>
            <div class="timer">
                <div class="time_left_txt">Time Left</div>
                <div class="timer_sec">15</div>
            </div>
            <div class="time_line"></div>
        </header>
        <section>
            <div class="que_text">
                <!-- ada questionnya dari js -->
            </div>
            <div class="option_list">
                <!-- ada optionnya di JavaScript -->
            </div>
        </section>

        <!-- footer of Quiz Box -->
        <footer>
            <div class="total_que">
                <!-- ada question numbernya di script.js -->
            </div>
            <img id="atas" src="{% static 'covid-19.png' %}" class="object-fit-contain" alt="~" width="30px">

            <button class="next_btn">Next Que</button>
        </footer>
    </div>

    <!-- Result Box -->
    <div class="result_box m-3">
        <div class="icon">
            <img id="atas" src="{% static 'safety-suit.png' %}" class="object-fit-contain" alt="~" width="100px">

        </div>
        <div class="complete_text text-center">Halo <span style="color: rgb(245, 137, 155);"><b>{{user.username}}</b></span> kamu telah menyelesaikan kuisnya!</div>
        <div class="score_text">
            
            <!-- ada score nya dari script.js -->
        </div>
        <div class="buttons">
            <button class="restart">Replay Quiz</button>
            <button class="quit">Quit Quiz</button>
        </div>
        <div class="buttons2 text-center">
            <button class="saran">Saran Pertanyaan</button>
        </div>
        
    </div>

    <!-- Inside this JavaScript file I've inserted Questions and Options only -->
    <script src="{% static 'questions.js' %}"></script>

    <!-- Inside this JavaScript file I've coded all Quiz Codes -->
    <script src="{% static 'script.js' %}"></script>



    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

{% endblock main %}
