{% extends 'base.html' %} {% load static %} {% block css %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>Request Quiz Question Page</title> 
        <!-- FontAweome CDN Link for Icons -->
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>   
{% endblock css %} {% block main %}
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-md-10 col-sm-10 mt-5 justify-content-center">
            <h3 class="tulis text-center"><img id="atas" src="{% static 'book.png' %}" class="object-fit-contain" alt="~" width="30px"> Sampaikan saran pertanyaan quiz versi anda <img id="atas" src="{% static 'book.png' %}" class="object-fit-contain" alt="~" width="30px"> </h3>

            <form class="form-inline justify-content-center" id="addQuesForm" method="POST" data-url="{% url 'quiz:req_list_url' %}">
                {% csrf_token %}
                {% for ques in form %}
                    <div class="col-md-8 mx-2">
                       {{ ques }}
                    </div>
                {% endfor %}
                <!-- <div class="col-md-2"> -->
                <button id="addButton" type="button" class="btn">Add</button>
                <!-- </div> -->
            </form>


        </div>
       

    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-6" id="quesList">
            <p class="keterangan">Ketentuan: <br> 
                Pertanyaan-pertanyaan dibawah ini akan menjadi pertimbangan kami untuk meng-update soal-soal quiz.<br>
                </p>
            {% for ques in req %}
                <div class="card mb-1" id= "quesCard" data-id="{{ ques.id }}"style="{% if ques.completed %} text-decoration: line-through  {% endif %}">    
                    <div class="card-body">
                        {{ ques.title }}
                        <button type="button" class="close float-right" data-id="{{ ques.id }}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'req.js' %}"></script>

{% endblock main %}