{% extends 'base.html' %} {% load static %} {% block css %}
    <title>Result Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"></head>
    <title>Quiz result</title>
{% endblock css %} {% block main %}
    <div class="result">
        <div class="row mt-5 mb-3 justify-content-center">
            <div class="col-md-5 mt-3 text-center">
                <h3>Hello {{ orangbaru.user }}!</h3>
                <!-- <h3>Hello {{ user.username }}!</h3> -->

                <a href="{% url 'quiz:show' %}"><h3>Your Score : {{orangbaru.result}} / 10</h3></a>
                <p>Tap the score to see all the right answer</p>
                <img id="atas" src="{% static 'virus.png' %}" class="object-fit-contain" alt="~" width="50px"> <br>
            </div>
        </div>
    </div>

    <div class="row m-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for nama in orang %}
                <tr>
                    <td>{{nama.user}}</td>
                    <td>{{nama.result}}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>

    <div class="attempt">
        <div class="row mt-5 mb-3 justify-content-center">
            <div class="col-md-12 text-center">
                <button id="Start" type="button" class="btn btn-lg"><a href="{% url 'quiz:show' %}">Lihat jawaban benar!</a></button>          
            </div>
        </div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="col text-center">
            <img id="atas" src="{% static 'coronavirus.png' %}" class="object-fit-contain" alt="~" width="50px">
        </div>
    </div>
{% endblock main %}

