{% extends 'base.html' %} {% load static %} {% block css %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>See the right answer</title>
{% endblock css %} {% block main %}

<section class="show">
    <div class="row m-5 justify-content-center">
        <div class="col mt-3 text-center">
            <h2>Pertanyaan dan Jawaban Benar</h2>
            <img id="atas" src="{% static 'virus.png' %}" class="object-fit-contain" alt="~" width="50px"> <br>
        </div>
    </div>
    <div class="row m-5 justify content-center">
        <div class="row">
            {% for i in ques %}
            <div class="card m-3">
                <div class="card-header">
                    <h4><b>{{ i.question }}</b></h4>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <h5>{{ i.answer }}</h5>
                  </blockquote>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>

    <div class="attempt">
        <div class="row mt-5 mb-3 justify-content-center">
            <div class="col-md-12 text-center">
                <input class="btn btn-lg mx-2" id="Start" type="button" onclick="pindah('/quiz/')" value="Back to Quiz Page!">      
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function pindah(url)
    {
    window.location = url;
    }

</script>
{% endblock main %}
