{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/polling/style.css' %}" />
{% endblock css %} {% block main %}

<div class="container m-5 p-5 mx-auto">
    {% if user.is_authenticated %}
    <h1 class="text-center font-weight-bold"><strong>POLL!</strong></h1>
    <div class="card">
        <div class="card-header">
            <h4><strong>Apa yang paling sering kamu lakukan selama #diRumahAja?</strong></h4>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="card-body two-col">
                
                    {% for radio in form.activity %}
                        <div class="col-md-6">
                            <div class="card-body">
                                <div>
                                    {{ radio }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
            </div>
                
        
            <div class="card-footer">
                <button class="btn btn-primary" type="Submit" id="pollConfirm">Vote</button>
                <a href="{% url 'polling:result' %}" class="btn btn-primary" >
                    View Result</a>
            </div>
        </form>
    </div>
    {% else %}
    <div class="text-center"> Please
        <a class="btn btn-primary" href="{% url 'login_app:login' %}">Log In</a> or 
        <a class="btn btn-primary" href="{% url 'login_app:register' %}">Sign Up</a> to join the poll
    </div>
    {% endif %}
</div>
{% endblock main %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{% static 'js/polling/poll.js' %}"></script>
{% endblock script %}