{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/polling/style.css' %}" />
{% endblock css %} {% block main %}

<div class="container m-5 p-5 mx-auto">

    {% if user.is_authenticated %}
    <h1 class="text-center"><strong>Survey membuktikan...</strong></h1><br>
    <!-- Progress bar -->
    <h4>Olahraga</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ option1 }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ option1 }}</div>
    </div><br>
    <h4>Baca Buku</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ option2 }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ option2 }}</div>
    </div><br>
    <h4>Binge Watching</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ option3 }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ option3 }}</div>
    </div><br>
    <h4>Sibuk Kuliah</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ option4 }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{ option4 }}</div>
    </div><br>

    <div class="text-center">
      {% if maks == option1 %}
      <h4>Mayoritas dari kita <strong>Olahraga</strong> selama #diRumahAja<br>
        Nih, ada rekomendasi video olahraga yang bisa dicoba!</h4>
      <br>
      <iframe width="600" height="350" src="https://www.youtube.com/embed/Gjj68LbTse4"></iframe>

      {% elif maks == option2 %}
      <h4>Mayoritas dari kita <strong>Baca Buku</strong> selama #diRumahAja<br>
      Nih, ada beberapa rekomendasi buku yang bisa dibaca!</h4>
      <br>
      <div class="container">
        <div class="row text-center text-lg-left" id="flip">
          <div class="col-lg-4 col-md-4 col-6">
              <img class="img-fluid img-thumbnail"   src="{% static 'img/polling/1buku.jpg' %}" alt="">
              <div class="panel"><strong>Genre:</strong><br>Autobiography</div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
              <img class="img-fluid img-thumbnail" src="{% static 'img/polling/2buku.jpeg' %}" alt="">
              <div class="panel"><strong>Genre:</strong><br>Fiction</div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
              <img class="img-fluid img-thumbnail" src="{% static 'img/polling/3buku.jpg' %}" alt="">
              <div class="panel"><strong>Genre:</strong><br>Absurdist Fiction</div>
          </div>
        </div><br>

          <div class="row text-center text-lg-left" id="flip2">
          <div class="col-lg-4 col-md-4 col-6">
              <img class="img-fluid img-thumbnail" src="{% static 'img/polling/4buku.jpg' %}" alt="">
              <div class="panel2"><strong>Genre:</strong><br>Language</div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
              <img class="img-fluid img-thumbnail" src="{% static 'img/polling/10.jpg' %}" alt="">
              <div class="panel2"><strong>Genre:</strong><br>Self-improvement</div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
              <img class="img-fluid img-thumbnail" src="{% static 'img/polling/10buku.jpg' %}" alt="">
              <div class="panel2"><strong>Genre:</strong><br>Self-improvement</div>
          </div>
        </div> <br>
        <div class="row text-center text-lg-left" id="flip3">  
          <div class="col-lg-4 col-md-4 col-6">
              <img class="img-fluid img-thumbnail" src="{% static 'img/polling/7.jpg' %}" alt="">
              <div class="panel3"><strong>Genre:</strong><br>Literary Fiction</div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
              <img class="img-fluid img-thumbnail" src="{% static 'img/polling/5buku.jpg' %}" alt="">
              <div class="panel3"><strong>Genre:</strong><br>Self-improvement</div>
          </div>
          <div class="col-lg-4 col-md-4 col-6">
              <img class="img-fluid img-thumbnail" src="{% static 'img/polling/9buku.jpg' %}" alt="">
              <div class="panel3"><strong>Genre:</strong><br>Psychological Fiction</div>
          </div>
        </div>
      </div>
      
      {% elif maks == option3 %}
      <h4>Mayoritas dari kita <strong>Binge Watching</strong> selama #diRumahAja<br>
      Nih, ada beberapa rekomendasi series yang bisa ditonton!</h4>
      <br>
      <table class="table table-hover">
          <thead style="background-color: #f0c3cf; border: #f0c3cf;">
            <tr class="text-center">
              <th scope="col">No</th>
              <th scope="col">Poster</th>
              <th scope="col">Title</th>
              <th scope="col">Release Date</th>
            </tr>
          </thead>
          <tbody id="daftar_isi" style="background-color: #F3F3DB;">
          </tbody>
      </table>
      
      {% elif maks == option4 %}
      <h4>Mayoritas dari kita <strong>Sibuk Kuliah</strong> selama #diRumahAja</h4>
      <br>
      <div id="quotes" style="background-color: #508D7D; padding: 5%; border-radius: 20px;">
      <p>"Everyone has their own space. Your pace is special in itself as well, 
        so don’t care about others too much. Just go to the way that you’re headed to, 
        because it will lead to a very special place."</p>
      <h3><strong>SEMANGAT, {{ user }}!</strong></h3>
      </div>
      {% endif %}
    </div>
     
    {% else %}
    <div class="text-center"> Please
        <a class="btn btn-primary" href="{% url 'login_app:login' %}">Log In</a> or 
        <a class="btn btn-primary" href="{% url 'login_app:register' %}">Sign Up</a> to see the result
    </div>
    {% endif %}

    

    <br><br>
    <div class="text-right">  
      <a href="{% url 'polling:index' %}" class="btn btn-primary">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
        </svg>
      </a>
    </div>  
</div>
    
{% endblock main %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{% static 'js/polling/result.js' %}"></script>
{% endblock script %}