{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/forum/style.css' %}" />
{% endblock %}

{% block title %}Forum Sharing{% endblock %}

{% block main %}
<section>
<div class="container">
    <div class="forum-title">
    <h1 class="font-weight-bold">Bagikan pikiran Anda seputar Covid-19 di sini.</h1>
    </div>
    
    {% if user.is_authenticated %}
    <div class="forms">
        <form action="{% url 'forum' %}" method="POST">
            Kirim pesan sebagai {{ user.username }}
            {% csrf_token %}   
            {% for field in form %}
            <div class="form-group">{{field.label}} {{field}}</div>
            {% endfor %}
        <button id=post class="btn btn-primary" type="submit">Post</button>
        </form>
    </div>     
    {% else %}
        <div>
            Login untuk mengirimkan pesan. <br>
            <a class="btn btn-primary" href="{% url 'login_app:login' %}">Login</a> <br>
            <a class="btn btn-primary" href="{% url 'login_app:register' %}">Buat akun</a>
        </div>
    {% endif %}
    
</div>
</section>

<section>
    <div id="posts">

</div>
</section>

{% endblock %}

{% block script %} 
<script src="{% static 'javascript/forum/script.js' %}"></script
{% endblock %}