section {
    padding-top: 100px;
}

.content-section {
    padding: 10px 20px;
    border: 3.5px solid #508D7D;
    margin-bottom: 20px;
    border-radius: 12.5px;
    box-shadow: 10px 10px 5px 0px rgba(111, 168, 153, 0.5);
}

.form-section {
    padding: 10px 20px;
    border: 1px solid #508D7D;
    margin-bottom: 20px;
    border-radius: 12.5px;
}

.title {
    color: #555;
    font-weight: 500;
}

a.title:hover,
a.title:active {
    color: #94E2A0;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1.5px solid #94E2A07e
}

.article-category {
    color: #444444;
    font-weight: 600;
    text-align: justify;
}

a.article-category:hover,
a.article-category:active {
    color: #94E2A0;
    text-decoration: none;
}

.article-delete-update {
    color: #444444;
    text-align: justify;
}

a.article-delete-update:hover,
a.article-delete-update:active {
    color: #94E2A0;
    text-decoration: none;
}

textarea {
    resize: none;
}

.btn-primary {
    background-color: #5AB79B;
    border-color: #5AB79B;
    border-radius: 25px;
    box-shadow: 3px 3px 5px 0px rgba(128, 214, 187, 0.5);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #448874;
    border-color: #448874;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #448874;
    border-color: #448874;
}

.btn-outline-primary {
    color: #5AB79B;
    border-color: #5AB79B;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
    background-color: #448874;
    border-color: #448874;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    background-color: #448874;
    border-color: #448874;
}

.pagination a {
    color: #5AB79B;
}

.pagination a:hover,
.pagination a:focus {
    background-color: #5AB79B;
    color: #ffffff;
}

.page-item.active .page-link {
    background-color: #5AB79B;
    border-color: #5AB79B;
    color: #ffffff;
}

#searchBar {
    border-color: #508D7D;
    border-width: 2px;
}

a#searchLup {
    color: #508D7D;
    cursor: pointer;
}

a#searchLup:hover,
a#searchLup:focus {
    text-decoration: none;
    color: #5AB79B;
}

a {
    cursor: pointer;
}

/* end */
