{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/artikel/style.css' %}" />
{% endblock css %} {% block main %}

<section>
	<div class="container">
		<article class="media content-section">
			<div class="media-body">
				<div class="article-metadata d-flex justify-content-between">
						<div>
							<span class="mr-2">{{artikel.author.username}}</span>
							<small class="text-muted">{{artikel.date_posted|date:"F d, Y"}}</small>
						</div>
					{% if user ==  artikel.author%}
						<div>
							<a class="article-delete-update mr-2" href="{% url 'artikel:update' artikel.id %}">Update</a>
							<a class="article-delete-update mr-2" href="{% url 'artikel:delete' artikel.id %}">Delete</a>
						</div>
					{% endif %}
				</div>
				<h2 class="title mb-4">{{artikel.title}}</h2>
				<p class="article-content">{{artikel.content}}</p>
				<a
					class="article-category"
					href="{% url 'artikel:category' artikel.category %}"
					>({{artikel.category}})</a
				>
			</div>
		</article>
	</div>
</section>

{% endblock main %}
