{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/artikel/style.css' %}" />
{% endblock css %} {% block main %}

<section>
	<div class="container">
		<article id="detail-berita" class="media content-section">

		</article>
	</div>
</section>

{% endblock main %}

{% block script %}
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script>
		let url = "{{url}}";
	</script>
    <script src="{% static 'js/artikel/detail.js' %}"></script>
{% endblock script %}