{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/artikel/style.css' %}" />
{% endblock css %} {% block main %}

<section>
	<div class="container text-center">
        <img src="{% static 'img/artikel/gandalf.jpg' %}" class="img-fluid" alt="Responsive image">
		<a class="btn btn-primary rounded-pill mt-3" href="{% url 'artikel:index'%}">Go Back Home</a>
	</div>
</section>

{% endblock main %}
