{% extends 'base.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/artikel/style.css' %}" />
{% endblock css %} {% block main %}

<section>
	<div class="container" id="artikel">
		<h1 class="font-weight-bold mb-3">{{title}}</h1>
		<div class="content-section">
			<h2 class="title">Ingin Menambahkan Artikel?</h2>
			<a class="title" href="{% url 'artikel:forms'%}">Buat Sekarang!</a>
		</div>
		{% comment %} {% for artikel in list_artikel %}
		<article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<span class="mr-2">{{artikel.author.username}}</span>
					<small class="text-muted"
						>{{artikel.date_posted|date:"F d, Y"}}</small
					>
				</div>
				<h2 class="title">
					<a class="title" href="{% url 'artikel:detail' artikel.slug %}"
						>{{artikel.title}}</a
					>
				</h2>
				<p class="article-content">{{artikel.content|truncatechars:350}}</p>
				<a
					class="article-category"
					href="{% url 'artikel:category' artikel.category %}"
					>({{artikel.category}})</a
				>
			</div>
		</article>
		{% endfor %} 
		{% if list_artikel.has_other_pages %}
		<ul class="pagination">
			{% if list_artikel.has_previous %}
				<li class="page-item">
					<a class="page-link" tabindex="-1" href="?page={{ list_artikel.previous_page_number }}">&laquo;</a>
				</li>
			{% endif %} 
			{% for i in list_artikel.paginator.page_range %} 
				{% if list_artikel.number == i %}
					<li class="page-item active">
						<a class="page-link" href="?page={{ i }}">{{ i }} <span class="sr-only">(current)</span></a>
					</li>
				{% else %}
					<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
				{% endif %} 
			{% endfor %} 
			{% if list_artikel.has_next %}
				<li class="page-item"><a class="page-link" href="?page={{ list_artikel.next_page_number }}">&raquo;</a></li>
			{% endif %}
		</ul>
		{% endif %} {% endcomment %}
		{% comment %} <article class="media content-section">
			<div class="media-body">
				<div class="article-metadata">
					<span class="mr-2">{{artikel.author.username}}</span>
					<small class="text-muted"
						>{{artikel.date_posted|date:"F d, Y"}}</small
					>
				</div>
				<h2 class="title">
					<a class="title" href="{% url 'artikel:detail' artikel.slug %}"
						>{{artikel.title}}</a
					>
				</h2>
				<p class="article-content">{{artikel.content|truncatechars:350}}</p>
				<a
					class="article-category"
					href="{% url 'artikel:category' artikel.category %}"
					>({{artikel.category}})</a
				>
			</div>
		</article> {% endcomment %}
	</div>
</section>

{% endblock main %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="{% static 'js/artikel/test.js' %}"></script>
{% endblock script %}