body {
    font-family: 'Montserrat', sans-serif; 
    background-color: #F3F3DB;   
    color: #1c5f4b;
}

/* REQUEST */
input[type=text] {
    border: 1px solid #FFAAA5 ;
    border-bottom: 5px solid #FFAAA5;
    border-radius: 10px;
    width: 100%;
    padding: 5px 5px;
    padding-right: 50px;
    margin: 5px 0;
    display: inline-block;
    /* box-sizing: border-box; */
}

#quesCard {
    background-color: #B7FFC2;
}

#quesCard:hover {
    cursor: pointer;
}

.tulis {
    font-size: medium;
    font-weight: 600;
    text-align: center;
}


/* WELCOME */

center {
    width: 15%;
    height: 5%;
    background-color: rgb(243, 234, 234);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


#Start a, #Req a {
    color: #1c5f4b;
    font-weight: 600;
}

.text h3 {
    text-align: center;
    color: #B7FFC2;
    font-weight: bolder;
    text-shadow: -1px 0 #b44361, 0 1px #b44361, 0 -1px  #b44361;
}

#textnya {
    border: 3px solid #B7FFC2;
    /* background-color: #ffb4cd; */
    background-color: #EA98AE;

    border-style: dashed;
    border-radius: 10pt;
    box-shadow:  10px 10px 20px #B7FFC2, 
    -10px -10px 20px #B7FFC2;
}

.text img {
    margin-bottom: 2vw;
}

#Req {
    background: linear-gradient(180deg, #73E2B9 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(5.34deg, #FFA19B 2.97%, rgba(250, 171, 166, 0) 97.85%);
    border-radius: 20px;
    border: 5px solid #FFAAA5;
    box-sizing: border-box;
    font-weight: 600;
}

#Start {
    background: linear-gradient(180deg, #FFAAA5 0%, #44A289 100%), linear-gradient(5.34deg, #508D7D 2.97%, rgba(250, 171, 166, 0) 97.85%);
    border: 5px solid #FFAAA5;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 600;
}

/* QUIZ */

#kuisnya {
    color: #4c7e54;
    border-radius: 15px;
    border-radius: 10pt;
    background-color: #F9FBDD;
    font-weight: 500;
    border: 1px solid #B7FFC2;
    border-radius: 12.5px;
    /* box-shadow:  10px 10px 20px #d9d9d9, 
                 -10px -10px 20px #ffffff; */
    box-shadow: 10px 10px 20px #ffd2dc, 
                 -10px -10px 20px #ffd2dc;
}

#kuisnya h6 {
    font-size: medium;
    color: #8cd498;
    font-weight: 600;
    text-align: center;
}

#kuisnya h3{
    color: #4c7e54;
    font-weight: 600;
    font-size: larger;
}

.btn {
    /* background-color: #B7FFC2; */
    color: #4c7e54;
    background: linear-gradient(180deg, #A8E6CF 0%, rgba(255, 255, 255, 0) 100%), #FFAAA5;
    border-radius: 20px;
}

.kuis h4 {
    color: #1c5f4b;
}



/* RESULT */

.result p {
    color: rgb(255, 121, 154);
}

.result h3 {
    font-weight: bold;
    color: #B7FFC2;
    text-shadow: -1px 0 rgb(9, 82, 143), 0 1px rgb(62, 60, 167), 1px 0 rgb(62, 60, 167), 0 -1px  rgb(62, 60, 167);
}
.table td, th{
    color:  rgb(255, 121, 154);
    background-color: #B7FFC2;
}

.table td {
    font-weight: 500;
}

.table {
    text-align: center;
    box-shadow: 10px 10px 20px #d9d9d9, 
    -10px -10px 20px #ffffff;
}

/* SHOW */
.show h2 {
    color: rgb(255, 223, 144);
    font-weight: 800;
    text-shadow: -1px 0 rgb(9, 82, 143), 0 1px rgb(62, 60, 167), 1px 0 rgb(62, 60, 167), 0 -1px  rgb(62, 60, 167);
}

.card {
    border: 1px solid #1c5f4b;
    box-shadow:  10px 10px 20px #d9d9d9, 
         -10px -10px 20px #ffffff;
}

.card-header {
    background-color: #F9FBDD;
    color: cadetblue;
}

.card-body {
    color: #1c5f4b; ;
}


/* RESPONSIVE */
@media (max-width: 1500px){
    .welcom img {
        margin: 20px;
    }
}

@media (max-width: 500px) {
    .welcom img{
        display: inline;
        width: 40px;
        margin:5px;
    }

    #textnya {
        margin: 3vw;
    }

    .kuis img {
        width: 40px;
    }

    #kuisnya h3, label{
        font-size: large;
    }

    .show h4,h5 {
        font-size: medium;
    }
}