{% extends "base.html" %}

{% load static %} 

{% block meta %}
<link rel="stylesheet" href="{% static 'login_app/style.css' %}" />
{% endblock meta %}

{% block main %}
    <div class="content-section register text-center">
        <h1>Hello {{username}} !</h1>
    </div>
{% endblock main %}
