{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'login_app/style.css' %}" />
{% endblock meta %}
{% block main %}

    <section class="login"> 
        <div class="row m-5 justify-content-center">
            <div class="col-md-8 col-sm-8 mt-5" >
            
                <form method="POST" style="color: rgb(32, 85, 48); font-weight: 700;">

                    {% csrf_token %}
                    {{ form.as_p }}
                
                    <button id="login_button" type="submit" class="btn btn-primary">Login</button>
                
                </form>
            </div>
        </div>
        <div class="row m-5 justify-content-center">
            <div class="col-md-8 col-sm-8">
                <div class="border-top pt-3 text-center">
                    <small class="text-muted" style="color: rgb(16, 100, 75);">
                        Need An Account? <a class="ml-2" href="{% url 'login_app:register' %}">Sign Up Now</a>
                    </small>
                </div>            </div>        
        </div>
        

    </section>
{% endblock main %}
