{% extends "base.html" %}

{% load static %} 

{% block meta %}
<link rel="stylesheet" href="{% static 'login_app/style.css' %}" />
{% endblock meta %}

{% block main %}
<section class="logout">
    <div class="content-section register text-center mt-5">
        <h2>You have been logged out</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'login_app:login' %}">Log In Again</a>
            </small>
        </div>
    </div>
</section>
{% endblock main %}
