{% extends "base.html" %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'login_app/style.css' %}" />
{% endblock meta %}
{% block main %}

<section class="register mt-5">
<div class="row m-5 justify-content-center">
    <div class="col-md-8 col-sm-8 mt-5"  style="color: rgb(32, 85, 48); font-weight: 700;">
        <form method="POST">

            {% csrf_token %}
        
            {{ form.as_p }}
        
            <button id="regist_button" type="submit" class="btn btn-primary" >Register</button>
        </form>
    </div>        
</div>
<div class="row m-5 justify-content-center">
    <div class="col-md-8 col-sm-8">
        <h5>Already have an account? <a href="{% url 'login_app:login'%}">Sign in</a></h5>
    </div>   
</div>
</section>


{% endblock main %}
