{% include "base.html" %}
{% load static %}


<section id="home">
	<div class="container h-100">
		<div class="row h-100 justify-content-center text-center">
			<div class="col-lg-10 align-self-end">
				<h1 class="home-title font-weight-bold">SELAMAT DATANG</h1>
			</div>
			<div class="col-lg-8 align-self-end mb-5">
				<div class="home-nav">
                    <span><a href="{% url 'artikel:index2' %}">Artikel</a></span>
                    <span><a href="/forum">Forum</a></span>
                    <span><a href="/chitchat">Chit-chat</a></span>
					<span><a href="{% url 'quiz:welcom' %}">Quiz</a></span>
					<span><a href="{% url 'polling:index' %}">Poll</a></span>
				</div>
			</div>
		</div>
	</div>
</section>
