<nav class="navbar navbar-expand-lg navbar-expand-lg fixed-top navbar-custom">
	<div class="container">
		<a class="navbar-brand" href="/">Home</a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Artikel
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item" href="{% url 'artikel:index2' %}">Umum</a>
					  <a class="dropdown-item" href="{% url 'artikel:index' %}">User</a>
					</div>
				  </li>
				<li class="nav-item">
					<a class="nav-link" href="/forum">Forum</a>

				</li>
				<li class="nav-item">
					<a class="nav-link" href="/chitchat">Chit-chat</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'quiz:welcom' %}">Quiz</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'polling:index' %}">Poll</a>
				</li>
				{% if not user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login_app:login' %}">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login_app:register' %}">Register</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login_app:logout' %}">Logout</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
