section {
	padding-top: 100px;
}

textarea {
    resize: none;
}

.btn-primary {
    background-color: #5AB79B;
    border-color:  #5AB79B;
    border-radius: 25px;
    box-shadow:  10px 10px 20px #e6e6e6, 
             -10px -10px 20px #ffffff;
}
  
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #448874;
    border-color:  #448874;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #448874;
    border-color:  #448874;
}


/* Post grids */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 10px;
}

.card {
    margin: 12px;
    padding: 12px;
    vertical-align: middle;
    width: 100%;
    border-radius: 8px;
}

.bg-post {
    background-color: #EA98AE;
}

.card-title {
    margin-top: 12px;
    margin-left: 12px;
    margin-bottom: 0;
}

.card-title h4 {
    font-weight: bold;
}

.card-time {
    margin: 0 12px 12px 12px;
}
.card-content {
    margin: 4px 12px 12px 12px;
}